@import "partials/settings";
@import "partials/foundation";

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

$oswald : 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

body {
  font-family: $lato;

  .logo {
    display: inline-block;

    width: 100%;
    height: 60px;

    @media #{$medium-up} {
      background-image: url(/assets/header_bg.svg);
    }
    background-repeat: no-repeat;
    background-position: center;

    .logo-img {
      background-image: url(/assets/logo.svg);
      background-repeat: no-repeat;
      background-position: center;

      width: 140px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;

      @media #{$small-only} {
        margin-left: 0px;
        margin-top: 5px;
      }

    }

    .logo-button {
      background-color: white;
      float: right;
      height: 40px;
      width: 40px;

      border: 2px orange solid;
      color: orange;

      font-size: 40px;
      text-align: center;
      line-height: 35px;

      position: relative;
      top: -45px;
      right: 25px;

      display: inline-block;
    }

    .logo-button:hover {
      background-color: orange;
      color: white;

    }

  }

  ul {
    color: #fff;
    background-color: #000;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  
    @media #{$medium-up} {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    li {
      padding-top: 10px;
      padding-bottom: 10px;
      display: inline;

      text-transform: uppercase;
      color: gray;

      font-size: 18px;
      font-family: $oswald;
    }

    li a {
      color: gray;
      text-decoration: none;
    }

    @media #{$small-only} {
      width: 100%;
      padding-left: 0;
    }

    li:not(.first)::before {
      @media #{$medium-up} {
        content: " \2219 ";
      }
    }

    @media #{$small-only} {
      li.first {
        width: 33%;
        height: 100%;
        display: inline-block;
      }

      li:not(.first) {
        border-left: 1px solid gray;
        width: 33%;
        height: 100%;
        display: inline-block;
      }
    }

    li a:hover {
      color: orange;
    }
  }

  .item_list {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .item_container {
    background-image: url(/assets/bg.jpg);
    background-repeat: repeat;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .item:hover {
    border: 5px orange solid;
  }

  .item {
    border: 5px white solid;

    min-height: 500px;
    box-sizing: border-box;

    max-width: 325px;
    padding: 25px;
    margin: 12px;

    @media #{$small-only} {
      max-width: none;
      width: 95%;
    }

    display: inline-block;

    background-color: white;
 
    .image {
      height: 170px;
      width: 100%;

      @media #{$small-only} {
        width: 100%;
        height: 200px;
      }

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

    }

    h2 {
      font-family: $oswald;
      padding: 0;
      padding-top: 10px;
      margin: 0;
      font-size: 24px;
      line-height: 24px;
      font-weight: normal;

      @media #{$small-only} {
        font-size: 32px;
        line-height: 32px;
      }
    }

    h3 {
      margin: 0;
      padding: 0;
      font-family: $lato;
      font-weight: normal;
      font-size: 14px;
      color: #888;
      margin-top: 5px;

      @media #{$small-only} {
        font-size: 18px;
        line-height: 18px;
      }

      span.author::before {
        content: "by ";
      }

      span.bullet-before::before {
        content: " \2219 ";
      }

      span.views::after {
        content: " views";
      }
    }

    .clamp-2 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .clamp-3 {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .footer {
    height: 50px;
    background-color: #444;

    // margin-left: auto;
    // margin-right: auto;

    text-align: center;

    .icon {
      width: 25px;
      height: 25px;

      position: relative;
      top: 10px;

      display: inline-block;
    }

    .icon_fb {
      background-image: url('/assets/facebook_grey.svg');
    }

    .icon_fb:hover {
      background-image: url('/assets/facebook_orange.svg');
    }

    .icon_instagram {
      background-image: url('/assets/instagram_grey.svg');
    }

    .icon_instagram:hover {
      background-image: url('/assets/instagram_orange.svg');
    }
  }
  
}