@import "partials/settings";
@import "partials/foundation";

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

$oswald : 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

body {
  font-family: $lato;

  .logo {
    display: inline-block;

    width: 100%;
    height: 60px;

    background-image: url(/assets/header_bg.svg);
    background-repeat: no-repeat;
    background-position: center;

    .logo-img {
      background-image: url(/assets/logo.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 140px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
    }
  }

  ul {
    color: #fff;
    background-color: #000;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    li {
      display: inline;
      padding-right: 30px;
      text-transform: uppercase;
      font-size: 18px;
      font-family: $oswald;
    }
  }

  .item_list {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .item_container {
    background-image: url(/assets/bg.jpg);
    background-repeat: repeat;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .item {
    min-height: 500px;
    box-sizing: border-box;

    max-width: 325px;
    padding: 25px;
    margin: 12px;

    display: inline-block;

    background-color: white;
 
    .image {
      height: 170px;
      width: 280px;

      background-size: 280px 170px;
      background-repeat: no-repeat;

    }

    h2 {
      font-family: $oswald;
      padding: 0;
      padding-top: 10px;
      margin: 0;
      font-size: 24px;
      line-height: 24px;
      font-weight: normal;
    }

    h3 {
      margin: 0;
      padding: 0;
      font-family: $lato;
      font-weight: normal;
      font-size: 14px;
      color: #888;
      margin-top: 5px;

      span.author::before {
        content: "by ";
      }

      span.bullet-before::before {
        content: " \2219 ";
      }

      span.views::after {
        content: " views";
      }
    }
  }

  .footer {
    height: 50px;
    background-color: #444;

    // margin-left: auto;
    // margin-right: auto;

    text-align: center;

    .icon {
      width: 25px;
      height: 25px;
//      background-color: pink;

      display: inline-block;
    }

    .icon_fb {
      background-image: url('/assets/facebook_grey.svg');
    }

    .icon_instagram {
      background-image: url('/assets/instagram_grey.svg');
    }
  }
  
}